<div class="lincoapp-clover-dialog" id="<%=id%>">
	<div class="dialog-content">
		<div class="title">保存动画</div>
		<div class="forms">
			<label for="">
				<h6 class="u-title">name</h6>
				<input name="animateName" type="text">
			</label>
			<label for="">
				<h6 class="u-title">category</h6>
				<div class="slide-options">
					<i class="animate-type" type="1">进场动画</i>
					<i class="animate-type" type="2">出场动画</i>
					<i class="animate-type" type="3">loading</i>
				</div>
			</label>
		</div>
		<div class="control">
			<button type="cancel" class="btn">取消</button>
			<button type="submit" class="btn">提交</button>
		</div>
	</div>
</div>