<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Clover</title>
<link rel="stylesheet" href="css/home.css">
</head>
<body>

<div class="clover-page">

	<header class="clover-header">
		<div class="clover-logo"></div>
		<div class="header-control">
			
			<button id="btnSave" class="btn btn-save"></button>
			<button id="btnPlay" class="btn btn-play"></button>
			<button id="btnAdd" class="btn btn-add dn"></button>
		</div>
		<div class="header-aside"></div>
	</header>
	<div class="clover-content">
		<div class="clover-aside instance-left">

			<div class="forms animate-args">
				<label class="effect-label" for="">
					<strong class="u-title">动画时间</strong>
					<input sign="time" class="animate-input" type="text" data-value="1s" value="1s">
					<input name="time" type="range" min="0" max="100" value="10" algorithm="0.1" unit="s">
				</label>

				<label class="effect-label" for="">
					<strong class="u-title">动画延迟时间</strong>
					<input sign="delay" class="animate-input" type="text" data-value="0" placeholder="0s">
					<input name="delay" type="range" min="0" max="100" value="0" algorithm="0.1" unit="s">
				</label>

				<label class="effect-label" for="">
					<strong class="u-title">动画轨迹</strong>
					<div id="slideOptions" class="slide-options">
						<i class="selected">ease</i>
						<i>linear</i>
						<i>ease-in</i>
						<i>ease-out</i>
						<i>ease-in-out</i>
					</div>
					<input sign="function" class="animate-input" type="hidden" data-value="ease" value="ease">
				</label>
			</div>

			<div class="forms animate-effect">
				<label class="effect-label" for="">
					<strong class="u-title">位移</strong>
					<input sign="translate3d" class="animate-input process-input gray" type="text" data-value="0%,0%,0%" placeholder="0%, 0%, 0%">
				</label>

				<label class="effect-label" for="">
					<strong class="u-title">透明度</strong>
					<input sign="opacity" class="animate-input process-input" type="text" placeholder="0 ~ 1">
					<input name="opacity" type="range" min="0" max="100" value="50" algorithm="0.01">
				</label>

				<label class="effect-label" for="">
					<strong class="u-title">旋转</strong>
					<input sign="rotate" class="animate-input process-input" type="text" placeholder="0deg">
					<input name="rotate" type="range" min="0" max="360" value="180" algorithm="1" unit="deg">
				</label>

				<label class="effect-label" for="">
					<strong class="u-title">缩放</strong>
					<input sign="scale" class="animate-input process-input" type="text" placeholder="1">
					<input name="scale" type="range" min="0" max="100" value="100" algorithm="0.01">
				</label>

			</div>

		</div>

		<div id="cloverDragCanvas" class="clover-drag-area">
			<div class="clover-timeline"></div>
			<img guid="d54fa4c557aca01e0182d4" class="ap selected" width="160" src="images/2.png">
		</div>

		<div class="clover-aside instance-right">
			
			<div class="animate-process" style="display: none;">
				<button gid="1234" class="btn first selected" value="0%">0%</button>
				<button gid="2345" class="btn last" value="60%">60%</button>
				<button gid="3456" class="btn last" value="100%">100%</button>
			</div>
		</div>
		
	</div><!--.clover-content end-->
	<footer class="clover-footer">lincoapp clover by gavinning@2014-2015</footer>
</div>

<script src="js/libs/socket.io.js"></script>
<script data-main="js/init" src="js/require.js"></script>
<script>
// 本地环境尝试连接socket服务器
if(location.hostname.indexOf('127') >= 0 || location.hostname.indexOf('localhost') >= 0){
	var socket = io('http://localhost:8080');
	socket.on('ready', function(data){
		console.log(data)
	})
	socket.on('change', function (data) {
		if(data.change){
			location.reload();
		}
	});
}
</script>
</body>
</html>
