.clover-animate-show{
	height: 200px;
	padding: 50px;

	img{
		height: 100%;
	}
}

.clover-animate-lib{
	padding: 0 20px 20px;

	.u-lib{
		padding: 10px;
		min-width: 70px;
		border: 1px solid #ccc;
		border-radius: 3px;
		outline: none;
		background: #fff;
		margin-right: 12px;
	}
}